body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Navbar */
header {
  background: #074151;
  color: #070707;
  padding: 10px 10px 0px;
}

.navbar {
  display: flex;
}

.navbar .logo-utilisateur {
  padding: 5px 10px;
  border-radius: 5px;
}

.logo-utilisateur img {
  max-width: 50px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  color: #fbfbfb;
  text-decoration: solid;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  font-size: larger;
}